.cm-promo-mosaic {
    --mb-main-image-height:384px;
    --mb-normal-image-height:240px;

    --pc-main-image-height:737px;
    --pc-normal-image-height:468px;

    margin-top: 28px !important;
    font-family: "Inter";
    font-weight: 400
}

.cm-promo-mosaic p {
    margin: 0
}
.cm-promo-mosaic img {
    display: block;
    max-width: 100%;
    height: auto
}

.cm-promo-mosaic .grid-item {
    position: relative
}

.cm-promo-mosaic .grid-item .image-box {
    position: relative;
    height: var(--mb-normal-image-height);
    overflow: hidden;
    border-radius: 12px;
}
.cm-promo-mosaic .grid-item[data-block-type=promo_big_image] .image-box {
    height: var(--mb-main-image-height);
}

.cm-promo-mosaic .grid-item .image-box a:after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2
}

.cm-promo-mosaic picture img, .cm-promo-mosaic video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



.cm-promo-mosaic .grid-item .content-box {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: auto;
    max-width: 100%;
    left: 0;
    bottom: 0;
    padding: 0 20px 28px;
    pointer-events: none
}



.cm-promo-mosaic .safe-container {
    position: relative;
    height: 100%;
}

.cm-promo-mosaic .grid-item .content-box .promo-desc {
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 10px;
    color: #fff
}

.cm-promo-mosaic .grid-item .content-box a.promo-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 32px;
    border-radius: 40px;
    border: 1px solid #ffc56e;
    color: #ffc56e;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    pointer-events: all
}

.cm-promo-mosaic .grid-item .content-box .promo-title h2 {
    font-size: 28px;
    line-height: 1;
    color: #fff;
    margin: 0;
    margin-bottom: 10px
}

.cm-promo-mosaic .promo-grid {
    --promo-grid-gap: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--promo-grid-gap)
}

.cm-promo-mosaic .promo-grid .grid-item {
    flex: 0 0 100%;
    max-width: 100%
}





@media(min-width: 768px) {
    .cm-promo-mosaic {
        margin-top: 48px !important
    }

    .cm-promo-mosaic .grid-item .content-box {
        padding: 0 calc(70px * var(--scale)) calc(85px * var(--scale));
    }

    .cm-promo-mosaic .grid-item .content-box .promo-desc {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .cm-promo-mosaic .grid-item .content-box .promo-title h2 {
        font-size: calc(33px * var(--font-scale));
        margin-bottom: 18px
    }

    .cm-promo-mosaic .grid-item .content-box a.promo-btn {
        font-size: 21px;
        width: 172px;
        height: 42px;
        border-radius: 40px;
        border: 1px solid #ffc56e;
        transition: all .1s ease-in-out
    }

    .cm-promo-mosaic .grid-item .content-box a.promo-btn:hover {
        background: #ffc56e;
        color: #333
    }

    .cm-promo-mosaic .promo-grid {
        --promo-grid-gap: 24px;
    }

    .cm-promo-mosaic .grid-item .image-box {
        height: calc(var(--pc-normal-image-height) * var(--scale));
    }
    .cm-promo-mosaic .grid-item[data-block-type=promo_big_image] .image-box {
        height: calc(var(--pc-main-image-height) * var(--scale));
    }

    .cm-promo-mosaic .promo-grid [data-block-type=promo_big_image] .promo-title h2 {
        font-size: calc(48px * var(--font-scale));
        margin-bottom: 28px
    }

    .cm-promo-mosaic .promo-grid [data-block-type=promo_small_image] {
        flex: 0 0 calc(40% - 1/2*var(--promo-grid-gap));
        max-width: calc(40% - 1/2*var(--promo-grid-gap));
    }

    .cm-promo-mosaic .promo-grid [data-block-type=promo_small_image]+[data-block-type=promo_small_image] {
        flex: 0 0 calc(60% - 1/2*var(--promo-grid-gap));
        max-width: calc(60% - 1/2*var(--promo-grid-gap));
    }
}